.comment-order {
    display: flex;
    padding: 1.4rem 3.2rem 1.3rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 1.6rem;

    & &__count {

        span {
            font-size: 1.6rem;
            color: var(--black-color);
        }
    }

    & &__sort {
        position: relative;
        cursor: pointer;
    }

    & &__dropdown {
        display: flex;
        gap: .8rem;
        padding: 1.2rem 2.2rem;
        border: 1px solid var(--grey-grade1);
        border-radius: 1.2rem;
        cursor: pointer;
        

        label {
            font-size: 1.4rem;
            color: var(--black-color);
            cursor: pointer;
        }
    }

    & &__options {
        display: none;
        position: absolute;
        font-size: 1.4rem;
        padding: 2.4rem;
        border: 1px solid var(--grey-grade1);
        border-radius: 1.2rem;
        right: 0;
        top: 4.8rem;
        background-color: var(--white-color);

        &--show {
            display: block;
            z-index: 1;
        }

        label {
            display: block;
            white-space: nowrap;
            color: var(--black-color-grad);
            //border: 1px solid red;
            cursor: pointer;

            &:first-of-type {
                margin-bottom: 1.8rem;
            }
        }

        input {
            appearance: none;
        }
    }
}